/* POR FAVOR DEIXAR ORGANIZADO, BENÇA */

* {
    padding: 0px;
    margin: 0px;
    font-family: "poppins", sans-serif;
}

:root {
  --Preto-total: #000000; /* PRETO, *UTILIZAR* */
  --Branco-texto: #ffffff; /* COR PARA O H1, *UTILIZAR* */
  --Cinza-texto: #938E8E; /* COR PARA O PARAGRAFO, *UTILIZAR* */
  --Preto-fundo: #101011; /* COR DO FUNDO PARA SEÇÂO QUALIDADE, *UTILIZAR* */
  --Cinza-fundo: #191919;  /* COR DO FUNDO PARA SEÇÃO CONTATO, *UTILIZAR* */
  --laranja: #FF8E2C;  /* COR PARA BOTÕES E PARTES EM DESTAQUE, *UTILIZAR* */
}

a{
    text-decoration: none;
}

/*HEADER*/

.container_header{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.titulo{
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Branco-texto);
    list-style: none;
    width: 300px;
}

.navbar a{
    color: var(--Branco-texto);
    text-decoration: none;
}

.agora{
    font-weight: bolder;
}

.btn_header{
    padding: 5px 15px 5px 15px;
    background-color: var(--laranja);
    border: none;
    color: var(--Branco-texto);
    margin: 10px;
    border-radius: 5px;
}



.banner{
    height: 600px;
    width: 100%;
    background-image: url("../images/banner_maisCacau.png") ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner_title{
    padding: 100px 0px 0px 170px;
}

.banner_title p{
    color: var(--Branco-texto);
    font-size: 24px;
    margin: 0;
    margin-left: 15px;
}

.banner_title img{
    width: 350px;
}

.banner_title button{
    background-color: transparent;
    color: var(--Branco-texto);
    border: 1px solid var(--laranja);
    margin: 15px;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.banner_title button:hover {
    color: white;
    background-color: #FB8D2C;
}

.banner .container span{
   font-weight: bold;
}

/* Empresa */

.empresa{
    background-color: #191919;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 7%;
    text-align: justify;
    color: var(--Branco-texto);
}

.card_empresa01{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.card_empresa01 p{
    text-align: justify;
    margin: 0;
}

.card_empresa01 i{
    font-size: 100px;
    padding: 0 20px 0 20px;
}

/* Fundadores */

.card_fundadores1{
    display: flex;
    flex-direction: column;
}

.fundadores{
    background-color: #101011;
    color: var(--Branco-texto);
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
    padding-top: 50px;
    gap: 20px;
}

.fundadores h1 {
    font-size: 38px;
}

.fundadores .container{
    background-color: #101011;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.container_fund1{
    display: flex;
    width: 1300px;
    height: 100px;
    gap: 100px;
}

.container_fund2{
    display: flex;
    width: 900px;
    height: 100px;
    gap: 100px;
    
}

.card_fundadores{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    gap: 20px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-bottom: solid 1px #605D5D;
    
}

.person_info{
    height: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

.person_info img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
 }

 .linkedIn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }

.linkedIn:hover {
    color: #D3AD7F;

}
  
 .linkedIn i{
   font-size: 40px;
 }

 /* Exclusividade */

 .exclusividade{
    width: 100%;
    height: 550px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
 }

 .exclusividade h1{
    color: var(--Branco-texto);
 }

 .exclusividade .container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
 }

 .card_exclusividade{
    width: 300px;
    height: 350px;
    background-color: #232323;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
 }



 .card_exclusividade i{
    font-size: 150px;
    color: #D3AD7F;
 }

 .card_exclusividade h4{
    text-align: center;
    color: #D3AD7F;
 }

 .card_exclusividade p{
    text-align: center;
    color: var(--Cinza-texto);
    margin: 0;
 }

 .card_exclusividade h3{
    text-align: center;
    color: #ffffff;
 }

/* qualidade seção */

.qualidade_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--Preto-fundo);
}

.qualidade_div {
    display: flex; 
    justify-content: center;
    width: 100%;
    color: var(--Cinza-texto);
}

.div1_qualidade {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.div2_qualidade {
    display: flex;
}

.qualidade_div_central {
    width: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.qualidade_div_central h3 {
    color: var(--Branco-texto);
    font-weight: normal;
    padding-bottom: 10px;
}


.qualidade_div_central h1 {
    padding-bottom: 70px;
    color: var(--Branco-texto);
}

.aspas {
    width: 100px;
    align-self: flex-start;
}

#aspas_D {
    align-self: flex-end;
}

.imagem_cacau {
     width: 100%;
    height: 100%;
}

.divE_qualidade div {
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divD_qualidade div {
    background-color: var(--Preto-total);
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divE_qualidade h1 {
    color: var(--Preto-total);
    padding: 0px 30px;
}

.divD_qualidade h1 {
    color: var(--Branco-texto);
}
/* Seção contato */

.container_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 470px;
    background-color: var(--Cinza-fundo);
}

.contato_div {
    gap: 10%;
    display: flex; 
    justify-content: center; 
    align-items: baseline;
    width: 90%;
    color: var(--Cinza-texto);
}

.contato_itens {
    width: 80%;
    text-align: center;
}

.contato_itens h1 {
    color: var(--Branco-texto);
    font-size: 20px;
}

.contato_img { 
    width: 40px;
    margin-bottom: 30px;
}

#contato_principal {
    background-color: #232323;
    padding: 70px 30px;
    padding-bottom: 100px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
 
#contato_principal_img {
    margin-bottom: 0px;
    width: 100px;
}

/* FOOTER */

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-image: url('../images/cacau_footer.png');
    background-size: cover;
    background-position: bottom;
}

.footer_div {
    gap: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Cinza-texto);
}

.footer_itens {
    width: 100%;
}

.footer_itens .logo_img {
    height: 60px;
}

.footer_itens li {
    list-style: none;
    cursor: pointer;
}

.footer_itens h1 {
    color: var(--Branco-texto);
    font-size: 20px;
    padding-bottom: 15px;
}

#itens_footer_id {
    padding-left: 10%;
}