* {
    margin: 0;
}

body {
    display: flex;
    font-family: "poppins", sans-serif;

}

:root {
    --Preto-fundo: #252525; 
    --Laranja: #FF8F2C; 
    --Branco-fundo: #ffffff;
  }

.container-login {
    background-color: white;
    color: #252525;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
}

.container1 img {
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
}

.container-login h1 {
    color: #FF8F2C;
    margin-bottom: 6px;
}

.container-login p {
    margin-bottom: 6px;
}

.container-login div input {
    border-radius: 5px;
    border: solid 0.5px rgba(0, 0, 0, 0.5);
    padding: 8px;
    width: 95%;
}

.campo{
    padding-bottom: 15px;
}

.container-lembrar-senha {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-bottom: 10px;
}

#input_lembrar_senha {
    display: flex;
    width: 20px;
}


.container-login button {
    background-color: #FF8F2C;
    color: white;
    border: 1px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

button {
    cursor: pointer;
    transition: 0.2s ease-in transform;
}

button:hover{
    transform: scale(1.1);
    background-color: #e98127;
}


.container1 {
    display: flex;
    width: 30%;
    height: 100vh;
    background-color: var(--Preto-fundo);
    align-items: center;
    justify-content: center;
    color: var(--Branco-fundo);
}

.container1 h1 {
    font-size: 40px;
}

.container1 p {
    font-size: 20px;
}

.container1 button {
    margin-top: 15px;
    height: 50px;
    width: 175px;
    font-size: 20px;
    border-radius: 50px;
    border: solid 1px var(--Laranja);
    color: var(--Branco-fundo);
    background-color: var(--Preto-fundo);
}

.container1_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:focus {
    outline: none;
    border: 0.5px solid var(--Laranja);
  }

button{
    cursor: pointer;
    transition: all 0.2s ease-in;
} 
button:hover {
    transform: scale(1.07);
    background-color: #e98127;
}   

.validacao_estilo {
    color: red;
    font-size: 12px;
}
