
* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  font-family: "Poppins", sans-serif;
}

.container_geral {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

/* BARRA LATERAL */

.barra_lateral {
    background-color: #252525 ;
    height: 100vh;
    width: 10vw;
}

.lateral_container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateral_container img {
    width: 90%;
}

/* HEADER */

.header {
    background-color: #F5F5F5;
    height: 3vw;
    width: 90vw;
   
}

.header_container  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header_div1 h1 {
    font-size: 18px;
    padding: 0px 20px;
    font-weight: normal;
}



.header_div2 {
   display: flex; 
   align-items: center;
   gap: 10px;
   padding: 0px 20px;
}

.header_div2 img {
    width: 40px;

}

.conteudo_principal {
    background-color: #FFFFFF;
    height: 93.4%; 
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_principal_div {
    background-color: rgb(255, 255, 255);
    width: 97%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* BOTOES */

.button_zone {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    height: 5%;
}

.buttons {
    display: flex;
    gap: 20px;
    
}

.buttons button {   
    width: 135px;
}

#select_hectare, #select_setores {
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
    background-color: #2900FF;
    
}

button {
    background-color: #2900FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#sensores {
    background-color: #FF7700;
    cursor: pointer;
}

#select{
     background: transparent;
     border: none;
     width: 35px;
     color: #FFFFFF;
}

#select option{
     color: #000000;
}

/* PRIMEIRA ZONA */

.zona_1 {
    width: 100%;
    height: 20vh;  
    background-color: aqua;
    display: flex;
    
}

.temp {
    width: 20%;         /* ou o tamanho desejado */
    height: 20vh;        /* altura definida */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    overflow: hidden;    /* impede vazamento de conteúdo */
        flex-direction: column;
}

.temp div {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 20px;
    height: 100px;
    align-items: center;
    overflow: hidden;    /* impede que a imagem vaze */
}


.container_img img {
    height: 60%;
    object-fit: contain; /* ou 'cover' se quiser preencher mesmo que corte */
    display: block;
}

.temp p {
    font-size: 15px;
      overflow: hidden;    /* impede que a imagem vaze */
}

.KPI_container {
    display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.KPIs {
    display: flex;
    gap: 20px;
      justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
   
}
.KPI {
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 10px;
    overflow: hidden;    /* impede que o conteúdo vaze */
    padding: 5px 20px;
    border: 2px solid #D8D8DC;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.KPI img {
    width: 20%;
    
}

.KPI div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.KPI div p {
    font-size: 30px;
}


/* ZONA 2 */

.zona_2 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 42%;
}

.graficos {
    display: flex;
    gap: 20px;
    height: 100%;
}

.grafico1 {
    width: 70%;
    height:100%;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 2px solid #D8D8DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.graf01{
    width: 100%;
    height: 80%;
}

.grafico2 { 
    width: 50%;
    height:100% ;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 2px solid #D8D8DC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.graf02{
    width: 40%;
    height: 90%;
}

/* ZONA 3 */ 

.zona_3 {
    width: 100%;
    background-color: rgb(42, 42, 165);
    background-color: rgb(255, 255, 255);
   height: 30%;
}

.grafico_final {
    width: 100%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #D8D8DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.graf03{
    width: 100%;
    height: 77%;
}

/* Legendas dos gráficos */
.title_button{
    width: 100%;
    display: flex;
    align-items: center;
}

.title_button p {
    margin-right: 30%;
    margin-left: 2%;
}

.title_button button{
    padding: 3px 20px 3px 20px;
}

.title_button div {
    margin-left: 2%;
    border-bottom: solid 2px #6D54EE;
}

.lateral_container {
    display: flex; 
    flex-direction: column;
    color: white;
}

.lateral_container div{
    background-color: #313131;
    border-radius: 2px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-top: 2px solid #252525;
    width: 100%;
}

.lateral_container a {
    text-decoration: none;
    color: white;
}