* { 
    padding: 0;
    margin: 0;    
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    font-family: "poppins", sans-serif;
}

.container1 {
    display: flex;
    width: 30%;
    height: 953px;
    background-color: #252525;
    align-items: center;
    justify-content: center;
    color: white;
}

.container1 h1 {
    font-size: 40px;
}

.container1 p {
    font-size: 20px;
}

.container1 button {
    margin-top: 15px;
    height: 50px;
    width: 175px;
    font-size: 20px;
    border-radius: 50px;
    border: solid 1px #FF8F2C;
    color: white;
    background-color: #252525;
}

.container1_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2 {
    display: flex;
    width: 70%;
    height: 953px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.container2 h1 {
    font-size: 40px;
    color: #FF8F2C;
    margin-top: 100px;
    margin-bottom: 20px;
    justify-content: center;
}

.container2_div h1 {
    display: flex;
    justify-content: flex;
}

.container2 p {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input_cpf {
    display: flex;
    width: 150px;
}

#input_cnpj {
    display: flex;
    width: 225px;
}

input {
    display: flex;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input_cidade {
    display: flex;
    width: 250px;
}

#input_uf {
    display: flex;
    width: 130px;
}

.container6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input_telefone {
    display: flex;
    width: 250px;
}

#input_celular {
    display: flex;
    width: 130px;
}

#input_email {
    display: flex;
    width: 400px;
}

.container8 {
    display: flex;
    justify-content: space-between;
}

#input_senha {
    display: flex;
    width: 190px;
}

#input_senha_repetida {
    display: flex;
    width: 190px;
}

.container9 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#input_checkbox {
    display: flex;
    width: 20px;
    justify-content: start;
    align-items: center;
}

.container9 span {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 15px;
    justify-content: start;
}

.container10 button {
    display: flex;
    height: 50px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px #FF8F2C;
    color: white;
    background-color: #FF8F2C;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 
button{
    cursor: pointer;
    transition: 0.2s ease-in transform;
} 
button:hover {
    transform: scale(1.1);
}